body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #e8f5e9, #f1f8e9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

.plant-box {
  font-size: 2rem;
  margin: 20px 0;
}


button {
  padding: 10px 15px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: #43a047;
}

a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #2e7d32;
}
